{% extends 'layouts/page.njk' %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t('account-request.additionalRmas.heading') }} | {{ serviceName }}{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link">{{ t('account-request.back') }}</a>

  <h1 class="govuk-heading-l">{{ t('account-request.additionalRmas.heading') }}</h1>

  <form method="post" novalidate>
    {% if returnTo %}
    <input type="hidden" name="returnTo" value="{{ returnTo }}">
    {% endif %}

    {% if additionalRmasByPsoTeam and additionalRmasByPsoTeam.length > 0 %}
      {% for group in additionalRmasByPsoTeam %}
        {% set checkboxItems = [] %}
        {% for rma in group.rmas %}
          {% set checkboxItems = checkboxItems.concat([{
            value: rma.id | string,
            text: rma.name,
            checked: rma.id | string in (values.additionalRmas or [])
          }]) %}
        {% endfor %}

        <div class="govuk-form-group govuk-!-margin-bottom-8">
          {{ govukCheckboxes({
            name: "additionalRmas",
            fieldset: {
              legend: {
                text: group.eaArea.name + " - " + group.psoTeam.name,
                classes: "govuk-fieldset__legend"
              }
            },
            items: checkboxItems
          }) }}
        </div>
      {% endfor %}
    {% else %}
      <p class="govuk-body">{{ t('account-request.additionalRmas.noAdditionalRmas') }}</p>
    {% endif %}

    {{ govukButton({
      text: t('account-request.additionalRmas.continueButton')
    }) }}
  </form>
{% endblock %}

