{% extends 'layouts/page.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t('project-proposal.project_name.heading') }} | {{ serviceName }}
{% endblock %}

{% block content %}
  <a href={{ backlink.href }} class="govuk-back-link">{{ backlink.text }}</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary and(errorSummary | length) %}
        {% set errorList = [] %}
        {% for item in errorSummary %}
          {% set errorList = errorList.concat([
            {
              text: item.text,
              href: item.href
            }
          ]) %}
        {% endfor %}
        {{ govukErrorSummary({
          titleText: t('common.error_summary_title'),
          errorList: errorList
        }) }}
      {% endif %}

      <form method="post" novalidate>
        <div class="govuk-form-group{% if errors.projectName %} govuk-form-group--error{% endif %}">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="project-name">
              {{ t('project-proposal.project_name.heading') }}
            </label>
          </h1>

          <div id="project-name-hint" class="govuk-hint">
            {{ t('project-proposal.project_name.intro_paragraph') }}
          </div>

          {% if errors.projectName %}
            <p id="project-name-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              {{ errors.projectName }}
            </p>
          {% endif %}

          <input class="govuk-input govuk-!-width-full{% if errors.projectName %} govuk-input--error{% endif %}"
                 id="project-name"
                 name="projectName"
                 type="text"
                 spellcheck="false"
                 autocomplete="off"
                 aria-describedby="project-name-hint{% if errors.projectName %} project-name-error{% endif %}"
                 value="{{ values.projectName | default('') }}">
        </div>

        {{ govukButton({
          text: t('common.buttons.save_and_continue')
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
