{% extends 'layouts/page.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t('account-request.psoTeam.heading') }} | {{ serviceName }}{% endblock %}

{% block content %}
  <a href="/account_request/ea-area" class="govuk-back-link">{{ t('account-request.back') }}</a>

  <h1 class="govuk-heading-l">{{ t('account-request.psoTeam.heading') }}</h1>

  {% if errorSummary and (errorSummary | length) %}
    {% set errorList = [] %}
    {% for item in errorSummary %}
      {% set errorList = errorList.concat([{
        text: item.text,
        href: item.href
      }]) %}
    {% endfor %}
    {{ govukErrorSummary({
      titleText: t('account-request.details.errorSummaryTitle'),
      errorList: errorList
    }) }}
  {% endif %}

  <form method="post" novalidate>
    {% if returnTo %}
    <input type="hidden" name="returnTo" value="{{ returnTo }}">
    {% endif %}

    {% set psoTeamsErrorMessage = false %}
    {% if errors.psoTeams %}
      {% set psoTeamsErrorMessage = {
        text: errors.psoTeams
      } %}
    {% endif %}

    {% if psoTeamsByEaArea and psoTeamsByEaArea.length > 0 %}
      {% for group in psoTeamsByEaArea %}
        {% if group and group.eaArea and group.teams %}
          {% set checkboxItems = [] %}
          {% for team in group.teams %}
            {% if team and team.id and team.name %}
              {% set checkboxItems = checkboxItems.concat([{
                value: team.id | string,
                text: team.name,
                checked: team.id | string in (values.psoTeams or [])
              }]) %}
            {% endif %}
          {% endfor %}

          {% if checkboxItems.length > 0 %}
            <div class="govuk-form-group govuk-!-margin-bottom-8">
              {% if loop.first and psoTeamsErrorMessage %}
                {{ govukCheckboxes({
                  name: "psoTeams",
                  fieldset: {
                    legend: {
                      text: (group.eaArea.name or "") + " - PSO areas",
                      classes: "govuk-fieldset__legend"
                    }
                  },
                  items: checkboxItems,
                  errorMessage: psoTeamsErrorMessage
                }) }}
              {% else %}
                {{ govukCheckboxes({
                  name: "psoTeams",
                  fieldset: {
                    legend: {
                      text: (group.eaArea.name or "") + " - PSO areas",
                      classes: "govuk-fieldset__legend"
                    }
                  },
                  items: checkboxItems
                }) }}
              {% endif %}
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% else %}
      <p class="govuk-body">No PSO areas available</p>
    {% endif %}

    {{ govukButton({
      text: t('account-request.psoTeam.continueButton')
    }) }}
  </form>
{% endblock %}
