{% macro projectBenefitAreaCard(values, t) %}

  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">{{ t('projects.overview.project_benefit_area_summary_card.title') }}</h2>
      <ul class="govuk-summary-card__actions">
        <li class="govuk-summary-card__action">
          <a class="govuk-link" href="/proposal/create-proposal/location">
            {% if data['grid-reference'] %}{{ t('common.change') }}
            {% else %}{{ t('common.add') }}
            {% endif %}
            <span class="govuk-visually-hidden">
              {{ t('projects.overview.project_benefit_area_summary_card.title') | lower }}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="govuk-summary-card__content">
      <p class="govuk-body">{{ t('projects.overview.project_benefit_area_summary_card.not_added') }}</p>
    </div>
  </div>

{% endmacro %}