{% macro urgencyAssessmentSummaryCard(projectData, PROJECT_PAYLOAD_FIELDS, PROJECT_STEPS, URGENCY_REASONS, t, isReadOnly) %}
  {% set hasUrgency = projectData[PROJECT_PAYLOAD_FIELDS.URGENCY_REASON] %}
  <div class="govuk-summary-card">
    <div class="govuk-summary-card__title-wrapper">
      <h2 class="govuk-summary-card__title">{{ t('projects.overview.urgency_assessment_summary_card.title') }}</h2>
      {% if not isReadOnly %}
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">
            <a class="govuk-link" href="/project/{{ projectData[PROJECT_PAYLOAD_FIELDS.SLUG] }}/{{ PROJECT_STEPS.URGENCY_REASON }}">
              {% if hasUrgency %}{{ t('common.change') }}
              {% else %}{{ t('common.add') }}
              {% endif %}
              <span class="govuk-visually-hidden">
                {{ t('projects.overview.urgency_assessment_summary_card.title') | lower }}</span>
            </a>
          </li>
        </ul>
      {% endif %}
    </div>
    <div class="govuk-summary-card__content">
      {% if hasUrgency %}
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ t('projects.overview.urgency_assessment_summary_card.urgency_reason') }}</dt>
            <dd class="govuk-summary-list__value">
              {{ t('projects.project_urgency.urgency_reason.options.' + projectData[PROJECT_PAYLOAD_FIELDS.URGENCY_REASON] + '.label') }}
            </dd>
          </div>
          {% if projectData[PROJECT_PAYLOAD_FIELDS.URGENCY_REASON] != URGENCY_REASONS.NOT_URGENT %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">{{ t('projects.overview.urgency_assessment_summary_card.urgency_details') }}</dt>
              <dd class="govuk-summary-list__value">
                {% if projectData[PROJECT_PAYLOAD_FIELDS.URGENCY_DETAILS] %}
                  {{ projectData[PROJECT_PAYLOAD_FIELDS.URGENCY_DETAILS] }}
                {% else %}
                  {{ t('projects.overview.common.not_provided') }}
                {% endif %}

              </dd>
            </div>
          {% endif %}
        </dl>
      {% else %}
        <p class="govuk-body">{{ t('projects.overview.urgency_assessment_summary_card.not_added') }}</p>
      {% endif %}
    </div>
  </div>
{% endmacro %}