{% extends 'layouts/page.njk' %}

{% block pageTitle %}{{ t('account-request.mainPsoTeam.heading') }} | {{ serviceName }}{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link">{{ t('account-request.back') }}</a>

  <h1 class="govuk-heading-l">{{ t('account-request.mainPsoTeam.heading') }}</h1>

  {% if errorSummary and (errorSummary | length) %}
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      {{ t('account-request.details.errorSummaryTitle') }}
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        {% for item in errorSummary %}
          <li><a href="{{ item.href }}">{{ item.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <form method="post" novalidate>
    {% if returnTo %}
    <input type="hidden" name="returnTo" value="{{ returnTo }}">
    {% endif %}

    <div class="govuk-form-group {% if errors.mainPsoTeam %}govuk-form-group--error{% endif %}">
      <label class="govuk-label govuk-label--m" for="main-pso-team">
        {{ t('account-request.mainPsoTeam.mainPsoTeamLabel') }}
      </label>
      <div id="main-pso-team-hint" class="govuk-hint">
        {{ t('account-request.mainPsoTeam.mainPsoTeamHint') }}
      </div>
      {% if errors.mainPsoTeam %}
      <p id="main-pso-team-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ errors.mainPsoTeam }}
      </p>
      {% endif %}
      <select class="govuk-select {% if errors.mainPsoTeam %}govuk-select--error{% endif %}" id="main-pso-team" name="mainPsoTeam">
        <option value="">{{ t('account-request.mainPsoTeam.selectATeamOption') }}</option>
        {% if psoTeamsByEaArea %}
          {% for group in psoTeamsByEaArea %}
            <optgroup label="{{ group.eaArea.name }}">
              {% for team in group.teams %}
                <option value="{{ team.id }}" {% if values.mainPsoTeam == team.id|string %}selected{% endif %}>{{ team.name }}</option>
              {% endfor %}
            </optgroup>
          {% endfor %}
        {% endif %}
      </select>
    </div>

    <button class="govuk-button" data-module="govuk-button">{{ t('account-request.mainPsoTeam.continueButton') }}</button>
  </form>
{% endblock %}

