{% extends 'layouts/page.njk' %}

{% block pageTitle %}{{ __('accountRequest.checkAnswers.heading') }} | {{ serviceName }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-back-link">{{ __('accountRequest.back') }}</a>

    <h1 class="govuk-heading-xl">{{ __('accountRequest.checkAnswers.heading') }}</h1>

    <div class="govuk-summary-list__row">
      <h2 class="govuk-heading-m govuk-summary-list__key">{{ __('accountRequest.checkAnswers.personalDetailsHeading') }}</h2>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="/account_request/details?from=check-answers">
          {{ __('accountRequest.checkAnswers.changePersonalDetailsLink') }}<span class="govuk-visually-hidden"> {{ __('accountRequest.checkAnswers.personalDetailsHeading') }}</span>
        </a>
      </dd>
    </div>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ __('accountRequest.details.firstNameLabel') }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ details.firstName }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ __('accountRequest.details.lastNameLabel') }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ details.lastName }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ __('accountRequest.details.emailAddressLabel') }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ details.emailAddress }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ __('accountRequest.details.telephoneNumberLabel') }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ details.telephoneNumber }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ __('accountRequest.details.organisationLabel') }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ details.organisation }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ __('accountRequest.details.jobTitleLabel') }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ details.jobTitle }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ __('accountRequest.checkAnswers.responsibilityLabel') }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ responsibilityValue }}
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">{{ __('accountRequest.checkAnswers.areaSelectionHeading') }}</h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ __('accountRequest.eaMainArea.mainEaAreaLabel') }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ mainEaAreaValue }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/account_request/ea-main-area?from=check-answers">
            {{ __('accountRequest.checkAnswers.changeMainEaAreaLink') }}<span class="govuk-visually-hidden"> {{ __('accountRequest.eaMainArea.mainEaAreaLabel') }}</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ __('accountRequest.eaAdditionalAreas.introText') }}
        </dt>
        <dd class="govuk-summary-list__value">
          {% for area in additionalAreasLabels %}
            {{ area }}{% if not loop.last %}<br>{% endif %}
          {% endfor %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/account_request/ea-additional-areas?from=check-answers">
            {{ __('accountRequest.checkAnswers.changeAdditionalEaAreasLink') }}<span class="govuk-visually-hidden"> {{ __('accountRequest.eaAdditionalAreas.introText') }}</span>
          </a>
        </dd>
      </div>
    </dl>

    <p class="govuk-body">{{ __('accountRequest.checkAnswers.confirmationText') }}</p>

    <form method="post" novalidate>
      <button class="govuk-button" data-module="govuk-button">{{ __('accountRequest.checkAnswers.confirmAndSendButton') }}</button>
    </form>
    </div>
  </div>
{% endblock %}
