{% extends 'layouts/page.njk' %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block beforeContent %}
  {% if backLinkURL %}
    <a href="{{ backLinkURL }}" class="govuk-back-link">{{ backLinkText }}</a>
  {% endif %}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">{{ pageTitle }}</h1>

  <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-6">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-body-m">{{ t('projects.downloads.project_name') }}</dt>
      <dd class="govuk-summary-list__value govuk-body-m">{{ projectData.name }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-body-m">{{ t('projects.downloads.reference_number') }}</dt>
      <dd class="govuk-summary-list__value govuk-body-m">{{ projectData.referenceNumber or t('projects.downloads.not_submitted') }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-body-m">{{ t('projects.downloads.status') }}</dt>
      <dd class="govuk-summary-list__value govuk-body-m">
        {{ govukTag({
          text: projectState | upper,
          classes: projectStateTag
        }) }}
      </dd>
    </div>
  </dl>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {# Main Downloads Section #}
  <h2 class="govuk-heading-l">{{ t('projects.downloads.main_downloads.heading') }}</h2>

  <p class="govuk-body">{{ t('projects.downloads.main_downloads.description') }}</p>

  {% if showNewTemplate or hasBenefitAreaFile %}
    {% if showNewTemplate %}
      <section class="gem-c-attachment govuk-!-margin-bottom-6">
        <div class="gem-c-attachment__thumbnail">
          <a href="{{ fcerm1NewDownloadUrl }}" class="govuk-link" tabindex="-1" aria-hidden="true" data-download-type="fcerm1-new">
            <svg class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--spreadsheet" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
              <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z" stroke-width="0"/>
              <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z" stroke-width="0"/>
              <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none" stroke-miterlimit="10" stroke-width="2"/>
            </svg>
          </a>
        </div>
        <div class="gem-c-attachment__details">
          <h3 class="gem-c-attachment__title">
            <a href="{{ fcerm1NewDownloadUrl }}" class="govuk-link gem-c-attachment__link" data-download-type="fcerm1-new">
              {{ t('projects.downloads.main_downloads.fcerm1_new') }}
            </a>
          </h3>
          <p class="gem-c-attachment__metadata">
            <span class="gem-c-attachment__attribute">MS Excel Spreadsheet</span>
          </p>
          <p class="gem-c-attachment__metadata">
            <span class="gem-c-attachment__attribute">{{ t('projects.downloads.main_downloads.fcerm1_new_hint') }}</span>
          </p>
        </div>
      </section>
    {% endif %}

    {% if hasBenefitAreaFile %}
      <section class="gem-c-attachment govuk-!-margin-bottom-6">
        <div class="gem-c-attachment__thumbnail">
          <a href="{{ projectData.benefitAreaFileDownloadUrl }}" class="govuk-link gem-c-attachment__thumbnail-image" tabindex="-1" aria-hidden="true" download>
            <img src="/public/assets/images/pub-cover-shapefile.png" width="99" height="140" alt="" aria-hidden="true">
          </a>
        </div>
        <div class="gem-c-attachment__details">
          <h3 class="gem-c-attachment__title">
            <a href="{{ projectData.benefitAreaFileDownloadUrl }}" class="govuk-link gem-c-attachment__link" download>
              {{ t('projects.downloads.main_downloads.benefit_area') }}
            </a>
          </h3>
          <p class="gem-c-attachment__metadata">
            <span class="gem-c-attachment__attribute">ZIP file</span>
            {% if projectData.benefitAreaFileSize %}
              <span class="gem-c-attachment__attribute">{{ (projectData.benefitAreaFileSize / 1000) | round }} KB</span>
            {% endif %}
          </p>
          {% if projectData.benefitAreaFileUpdatedAt %}
            <p class="gem-c-attachment__metadata">
              <span class="gem-c-attachment__attribute">Uploaded {{ projectData.benefitAreaFileUpdatedAt | formatDate('d MMMM yyyy') }}</span>
            </p>
          {% endif %}
        </div>
      </section>
    {% endif %}

    {% endif %}
  {% else %}
    <p class="govuk-body govuk-hint">{{ t('projects.downloads.main_downloads.no_downloads') }}</p>
  {% endif %}

  {# Legacy Downloads Section - Only show if legacy project #}
  {% if showLegacyTemplate or showFundingCalculator or showModerationDownload %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-8">

    <h2 class="govuk-heading-l">{{ t('projects.downloads.legacy_downloads.heading') }}</h2>

    {{ govukInsetText({
      text: t('projects.downloads.legacy_downloads.inset_text')
    }) }}

    {% if showLegacyTemplate %}
      <section class="gem-c-attachment govuk-!-margin-bottom-6">
        <div class="gem-c-attachment__thumbnail">
          <a href="{{ fcerm1LegacyDownloadUrl }}" class="govuk-link" tabindex="-1" aria-hidden="true">
            <svg class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--spreadsheet" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
              <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z" stroke-width="0"/>
              <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z" stroke-width="0"/>
              <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none" stroke-miterlimit="10" stroke-width="2"/>
            </svg>
          </a>
        </div>
        <div class="gem-c-attachment__details">
          <h3 class="gem-c-attachment__title">
            <a href="{{ fcerm1LegacyDownloadUrl }}" class="govuk-link gem-c-attachment__link" download>
              {{ t('projects.downloads.legacy_downloads.fcerm1_legacy') }}
            </a>
          </h3>
          <p class="gem-c-attachment__metadata">
            <span class="gem-c-attachment__attribute">MS Excel Spreadsheet</span>
          </p>
          <p class="gem-c-attachment__metadata">
            <span class="gem-c-attachment__attribute">{{ t('projects.downloads.legacy_downloads.fcerm1_legacy_hint') }}</span>
          </p>
        </div>
      </section>
    {% endif %}

    {% if showFundingCalculator %}
      <section class="gem-c-attachment govuk-!-margin-bottom-6">
        <div class="gem-c-attachment__thumbnail">
          <a href="{{ projectData.fundingCalculatorDownloadUrl }}" class="govuk-link" tabindex="-1" aria-hidden="true" download>
            <svg class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--spreadsheet" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
              <path d="M12 12h75v27H12zm0 47h18.75v63H12zm55 2v59H51V61h16m2-2H49v63h20V59z" stroke-width="0"/>
              <path d="M49 61.05V120H32.8V61.05H49m2-2H30.75v63H51V59zm34 2V120H69.05V61.05H85m2-2H67v63h20V59z" stroke-width="0"/>
              <path d="M30 68.5h56.5M30 77.34h56.5M30 112.7h56.5M30 95.02h56.5M30 86.18h56.5M30 103.86h56.5" fill="none" stroke-miterlimit="10" stroke-width="2"/>
            </svg>
          </a>
        </div>
        <div class="gem-c-attachment__details">
          <h3 class="gem-c-attachment__title">
            <a href="{{ projectData.fundingCalculatorDownloadUrl }}" class="govuk-link gem-c-attachment__link" download>
              {{ t('projects.downloads.legacy_downloads.funding_calculator') }}
            </a>
          </h3>
          <p class="gem-c-attachment__metadata">
            <span class="gem-c-attachment__attribute">MS Excel Spreadsheet</span>
            {% if projectData.fundingCalculatorFileSize %}
              <span class="gem-c-attachment__attribute">{{ (projectData.fundingCalculatorFileSize / 1000) | round }} KB</span>
            {% endif %}
          </p>
          {% if projectData.fundingCalculatorUpdatedAt %}
            <p class="gem-c-attachment__metadata">
              <span class="gem-c-attachment__attribute">Uploaded {{ projectData.fundingCalculatorUpdatedAt | formatDate('d MMMM yyyy') }}</span>
            </p>
          {% endif %}
        </div>
      </section>
    {% endif %}

    {% if showModerationDownload %}
      <section class="gem-c-attachment govuk-!-margin-bottom-6">
        <div class="gem-c-attachment__thumbnail">
          <a href="{{ moderationDownloadUrl }}" class="govuk-link" tabindex="-1" aria-hidden="true" download>
            <svg class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--document" version="1.1" viewBox="0 0 99 140" width="99" height="140" aria-hidden="true">
              <path d="M12 12h75v27H12zM12 59h9v9h-9zM12 77h9v9h-9zM12 95h9v9h-9zM12 113h9v9h-9zM30 59h57v9H30zM30 77h39v9H30zM30 95h57v9H30zM30 113h48v9H30z" stroke-width="0"/>
            </svg>
          </a>
        </div>
        <div class="gem-c-attachment__details">
          <h3 class="gem-c-attachment__title">
            <a href="{{ moderationDownloadUrl }}" class="govuk-link gem-c-attachment__link" download>
              {{ t('projects.downloads.legacy_downloads.moderation') }}
            </a>
          </h3>
          <p class="gem-c-attachment__metadata">
            <span class="gem-c-attachment__attribute">Plain text file</span>
          </p>
          {% if projectData.urgencyDetailsUpdatedAt %}
            <p class="gem-c-attachment__metadata">
              <span class="gem-c-attachment__attribute">Last updated {{ projectData.urgencyDetailsUpdatedAt | formatDate('d MMMM yyyy') }}</span>
            </p>
          {% endif %}
        </div>
      </section>
    {% endif %}
  {% endif %}

  {# Information about downloads #}
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-8">

  <h2 class="govuk-heading-m">{{ t('projects.downloads.help.heading') }}</h2>

  <p class="govuk-body">{{ t('projects.downloads.help.description') }}</p>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        {{ t('projects.downloads.help.what_is_fcerm1.summary') }}
      </span>
    </summary>
    <div class="govuk-details__text">
      {{ t('projects.downloads.help.what_is_fcerm1.text') }}
    </div>
  </details>

  {% if isLegacy %}
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          {{ t('projects.downloads.help.legacy_vs_new.summary') }}
        </span>
      </summary>
      <div class="govuk-details__text">
        {{ t('projects.downloads.help.legacy_vs_new.text') }}
      </div>
    </details>
  {% endif %}

{% endblock %}