{% extends 'layouts/projects.njk' %}

{% block head %}
  {{ super() }}
  <meta http-equiv="refresh" content="2; url={{ selfUrl | safe }}">
{% endblock %}

{% block body %}
  <h1 class="govuk-heading-xl">{{ t(localKeyPrefix + '.processing.heading') }}</h1>

  <p class="govuk-body">{{ t(localKeyPrefix + '.processing.description') }}</p>

  <p class="govuk-body">
    <a class="govuk-link" href="{{ selfUrl | safe }}">{{ t(localKeyPrefix + '.processing.refresh_link') }}</a>
  </p>
{% endblock %}
