{% extends 'layouts/page.njk' %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t('account-request.additionalPsoTeams.heading') }} | {{ serviceName }}{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link">{{ t('account-request.back') }}</a>

  <h1 class="govuk-heading-l">{{ t('account-request.additionalPsoTeams.heading') }}</h1>

  <form method="post" novalidate>
    {% if returnTo %}
    <input type="hidden" name="returnTo" value="{{ returnTo }}">
    {% endif %}

    {% if additionalPsoTeamsByEaArea and additionalPsoTeamsByEaArea.length > 0 %}
      {% for group in additionalPsoTeamsByEaArea %}
        {% set checkboxItems = [] %}
        {% for team in group.teams %}
          {% set checkboxItems = checkboxItems.concat([{
            value: team.id | string,
            text: team.name,
            checked: team.id | string in (values.additionalPsoTeams or [])
          }]) %}
        {% endfor %}

        <div class="govuk-form-group govuk-!-margin-bottom-8">
          {{ govukCheckboxes({
            name: "additionalPsoTeams",
            fieldset: {
              legend: {
                text: group.eaArea.name,
                classes: "govuk-fieldset__legend"
              }
            },
            items: checkboxItems
          }) }}
        </div>
      {% endfor %}
    {% else %}
      <p class="govuk-body">{{ t('account-request.additionalPsoTeams.noAdditionalTeams') }}</p>
    {% endif %}

    {{ govukButton({
      text: t('account-request.additionalPsoTeams.continueButton')
    }) }}
  </form>
{% endblock %}

