{% macro getImportantDatesError(fieldErrors, ERROR_CODES, monthField, yearField) %}
  {%- if fieldErrors and (fieldErrors[monthField] or fieldErrors[yearField]) -%}
    {# Check if this is the earliest date field #}
    {%- set isEarliestDate = (monthField == 'earliestWithGiaMonth') -%}

    {%- if fieldErrors[monthField] == ERROR_CODES.MONTH_REQUIRED or fieldErrors[yearField] == ERROR_CODES.YEAR_REQUIRED -%}
      {%- if isEarliestDate -%}
        earliest_date_required
      {%- else -%}
        required
      {%- endif -%}
    {%- elif fieldErrors[monthField] == ERROR_CODES.MONTH_INVALID or fieldErrors[yearField] == ERROR_CODES.YEAR_INVALID -%}
      {%- if isEarliestDate -%}
        earliest_date_invalid
      {%- else -%}
        invalid
      {%- endif -%}
    {%- elif fieldErrors[monthField] == ERROR_CODES.DATE_IN_PAST or fieldErrors[yearField] == ERROR_CODES.DATE_IN_PAST -%}
      {%- if isEarliestDate -%}
        earliest_date_in_past
      {%- else -%}
        in_past
      {%- endif -%}
    {%- elif fieldErrors[monthField] == ERROR_CODES.DATE_BEFORE_PREVIOUS_STAGE or fieldErrors[yearField] == ERROR_CODES.DATE_BEFORE_PREVIOUS_STAGE -%}
      before_previous_stage
    {%- elif fieldErrors[monthField] == ERROR_CODES.DATE_BEFORE_FINANCIAL_START or fieldErrors[yearField] == ERROR_CODES.DATE_BEFORE_FINANCIAL_START or fieldErrors[monthField] == ERROR_CODES.DATE_AFTER_FINANCIAL_END or fieldErrors[yearField] == ERROR_CODES.DATE_AFTER_FINANCIAL_END -%}
      financial_year_range
    {%- elif fieldErrors[monthField] == ERROR_CODES.DATE_AFTER_FINANCIAL_START or fieldErrors[yearField] == ERROR_CODES.DATE_AFTER_FINANCIAL_START -%}
      earliest_date_after_financial_start
    {%- endif -%}
  {%- endif -%}
{% endmacro %}