{% extends 'layouts/projects.njk' %}

{% from "button.njk" import govukButton %}

{% block titleText %}{{ t(localKeyPrefix + '.title') }}{% endblock %}

{% block body %}
  <h1 class="govuk-heading-l">{{ t(localKeyPrefix + '.heading') }}</h1>

  <p class="govuk-body">{{ t(localKeyPrefix + '.description') }}</p>

  {% set suffix = t(localKeyPrefix + '.suffix') %}
  {% set formattedValue = displayData[displayValueKey + 'Formatted'] if displayData[displayValueKey + 'Formatted'] else (displayData[displayValueKey] | round(2)) %}

  <p class="govuk-heading-m govuk-!-margin-bottom-6">
    <strong>{{ formattedValue + ' ' + suffix }}</strong>
  </p>

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}">
    <div class="govuk-button-group">
      {{ govukButton({ text: t('common.buttons.continue') }) }}
    </div>
  </form>
{% endblock %}
