{% extends "layouts/page.njk" %}
{% from "govuk/components/password-input/macro.njk" import govukPasswordInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{# Determine locale key prefix based on flow type #}
{% set localePrefix = 'auth.set_password' if flowType == 'invitation' else 'auth.reset_password' %}
{% set formAction = '/set-password' if flowType == 'invitation' else '/reset-password' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# Build error summary list #}
      {% set errorList = [] %}

      {# New password field errors #}
      {% if fieldErrors.newPassword == ERROR_CODES.PASSWORD_REQUIRED %}
        {% set errorList = errorList.concat([{ text: t('auth.validation.password.required'), href: "#new-password" }]) %}
      {% elif fieldErrors.newPassword == ERROR_CODES.PASSWORD_MIN_LENGTH %}
        {% set errorList = errorList.concat([{ text: t('auth.validation.password.min_length'), href: "#new-password" }]) %}
      {% elif fieldErrors.newPassword == ERROR_CODES.PASSWORD_MAX_LENGTH %}
        {% set errorList = errorList.concat([{ text: t('auth.validation.password.max_length'), href: "#new-password" }]) %}
      {% elif fieldErrors.newPassword == ERROR_CODES.PASSWORD_STRENGTH_UPPERCASE %}
        {% set errorList = errorList.concat([{ text: t('auth.validation.password.uppercase'), href: "#new-password" }]) %}
      {% elif fieldErrors.newPassword == ERROR_CODES.PASSWORD_STRENGTH_LOWERCASE %}
        {% set errorList = errorList.concat([{ text: t('auth.validation.password.lowercase'), href: "#new-password" }]) %}
      {% elif fieldErrors.newPassword == ERROR_CODES.PASSWORD_STRENGTH_NUMBER %}
        {% set errorList = errorList.concat([{ text: t('auth.validation.password.number'), href: "#new-password" }]) %}
      {% elif fieldErrors.newPassword == ERROR_CODES.PASSWORD_STRENGTH_SPECIAL %}
        {% set errorList = errorList.concat([{ text: t('auth.validation.password.special'), href: "#new-password" }]) %}
      {% elif fieldErrors.newPassword == ERROR_CODES.PASSWORD_WAS_USED_PREVIOUSLY %}
        {% set errorList = errorList.concat([{ text: t('auth.errors.password_used_previously'), href: "#new-password" }]) %}
      {% endif %}

      {# Confirm password field errors #}
      {% if fieldErrors.confirmPassword == ERROR_CODES.PASSWORD_MISMATCH %}
        {% set errorList = errorList.concat([{ text: t('auth.validation.confirm_password.mismatch'), href: "#confirm-password" }]) %}
      {% elif fieldErrors.confirmPassword == ERROR_CODES.PASSWORD_REQUIRED %}
        {% set errorList = errorList.concat([{ text: t('auth.validation.confirm_password.required'), href: "#confirm-password" }]) %}
      {% endif %}

      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
          titleText: t('common.error_summary_title'),
          errorList: errorList
        }) }}
      {% endif %}

      <h1 class="govuk-heading-xl">
        {{ t(localePrefix + '.heading') }}
      </h1>

      <p class="govuk-body">{{ t(localePrefix + '.requirements_intro') }}</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t(localePrefix + '.requirements.min_length') }}</li>
        <li>{{ t(localePrefix + '.requirements.uppercase') }}</li>
        <li>{{ t(localePrefix + '.requirements.lowercase') }}</li>
        <li>{{ t(localePrefix + '.requirements.number') }}</li>
        <li>{{ t(localePrefix + '.requirements.special') }}</li>
      </ul>

      {# Only show no_reuse text for reset password flow #}
      {% if flowType != 'invitation' %}
        <p class="govuk-body">{{ t('auth.reset_password.no_reuse') }}</p>
      {% endif %}

      <form action="{{ formAction }}" method="post" novalidate>

        <input type="hidden" name="token" value="{{ token }}">

        {# New password field error #}
        {% set newPasswordError = false %}
        {% if fieldErrors.newPassword == ERROR_CODES.PASSWORD_REQUIRED %}
          {% set newPasswordError = { text: t('auth.validation.password.required') } %}
        {% elif fieldErrors.newPassword == ERROR_CODES.PASSWORD_MIN_LENGTH %}
          {% set newPasswordError = { text: t('auth.validation.password.min_length') } %}
        {% elif fieldErrors.newPassword == ERROR_CODES.PASSWORD_MAX_LENGTH %}
          {% set newPasswordError = { text: t('auth.validation.password.max_length') } %}
        {% elif fieldErrors.newPassword == ERROR_CODES.PASSWORD_STRENGTH_UPPERCASE %}
          {% set newPasswordError = { text: t('auth.validation.password.uppercase') } %}
        {% elif fieldErrors.newPassword == ERROR_CODES.PASSWORD_STRENGTH_LOWERCASE %}
          {% set newPasswordError = { text: t('auth.validation.password.lowercase') } %}
        {% elif fieldErrors.newPassword == ERROR_CODES.PASSWORD_STRENGTH_NUMBER %}
          {% set newPasswordError = { text: t('auth.validation.password.number') } %}
        {% elif fieldErrors.newPassword == ERROR_CODES.PASSWORD_STRENGTH_SPECIAL %}
          {% set newPasswordError = { text: t('auth.validation.password.special') } %}
        {% elif fieldErrors.newPassword == ERROR_CODES.PASSWORD_WAS_USED_PREVIOUSLY %}
          {% set newPasswordError = { text: t('auth.errors.password_used_previously') } %}
        {% endif %}

        {{ govukPasswordInput({
          label: {
            text: t('auth.labels.password')
          },
          id: "new-password",
          name: "newPassword",
          autocomplete: "new-password",
          errorMessage: newPasswordError
        }) }}

        {# Confirm password field error #}
        {% set confirmPasswordError = false %}
        {% if fieldErrors.confirmPassword == ERROR_CODES.PASSWORD_MISMATCH %}
          {% set confirmPasswordError = { text: t('auth.validation.confirm_password.mismatch') } %}
        {% elif fieldErrors.confirmPassword == ERROR_CODES.PASSWORD_REQUIRED %}
          {% set confirmPasswordError = { text: t('auth.validation.confirm_password.required') } %}
        {% endif %}

        {{ govukPasswordInput({
          label: {
            text: t('auth.labels.confirm_password')
          },
          id: "confirm-password",
          name: "confirmPassword",
          autocomplete: "new-password",
          errorMessage: confirmPasswordError
        }) }}

        {{ govukButton({
          text: t(localePrefix + '.submit_button')
        }) }}

      </form>

    </div>
  </div>
{% endblock %}