{% extends 'layouts/page.njk' %}

{% block pageTitle %}{{ __('accountRequest.eaMainArea.heading') }} | {{ serviceName }}{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link">{{ __('accountRequest.back') }}</a>

  <h1 class="govuk-heading-l">{{ __('accountRequest.eaMainArea.heading') }}</h1>

  {% if errorSummary and (errorSummary | length) %}
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      {{ __('accountRequest.details.errorSummaryTitle') }}
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        {% for item in errorSummary %}
          <li><a href="{{ item.href }}">{{ item.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <form method="post" novalidate>
    {% if returnTo %}
    <input type="hidden" name="returnTo" value="{{ returnTo }}">
    {% endif %}

    <div class="govuk-form-group {% if errors.mainEaArea %}govuk-form-group--error{% endif %}">
      <label class="govuk-label govuk-label--m" for="main-ea-area">
        {{ __('accountRequest.eaMainArea.mainEaAreaLabel') }}
      </label>
      <div id="main-ea-area-hint" class="govuk-hint">
        {{ __('accountRequest.eaMainArea.mainEaAreaHint') }}
      </div>
      {% if errors.mainEaArea %}
      <p id="main-ea-area-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ errors.mainEaArea }}
      </p>
      {% endif %}
      <select class="govuk-select {% if errors.mainEaArea %}govuk-select--error{% endif %}" id="main-ea-area" name="mainEaArea">
        <option value="">{{ __('accountRequest.eaMainArea.selectAnAreaOption') }}</option>
        <option value="wessex" {% if values.mainEaArea == 'wessex' %}selected{% endif %}>Wessex</option>
        <option value="thames" {% if values.mainEaArea == 'thames' %}selected{% endif %}>Thames</option>
        <option value="anglian" {% if values.mainEaArea == 'anglian' %}selected{% endif %}>Anglian</option>
        <option value="midlands" {% if values.mainEaArea == 'midlands' %}selected{% endif %}>Midlands</option>
        <option value="north-west" {% if values.mainEaArea == 'north-west' %}selected{% endif %}>North West</option>
        <option value="yorkshire" {% if values.mainEaArea == 'yorkshire' %}selected{% endif %}>Yorkshire</option>
        <option value="north-east" {% if values.mainEaArea == 'north-east' %}selected{% endif %}>North East</option>
      </select>
    </div>

    <button class="govuk-button" data-module="govuk-button">{{ __('accountRequest.eaMainArea.continueButton') }}</button>
  </form>
{% endblock %}
