{% extends 'layouts/page.njk' %}

{% block pageTitle %}{{ __('accountRequest.eaMainArea.heading') }} | {{ serviceName }}{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link">{{ __('accountRequest.back') }}</a>

  <h1 class="govuk-heading-l">{{ __('accountRequest.eaMainArea.heading') }}</h1>

  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--m" for="main-ea-area">
      {{ __('accountRequest.eaMainArea.mainEaAreaLabel') }}
    </label>
    <div id="main-ea-area-hint" class="govuk-hint">
      {{ __('accountRequest.eaMainArea.mainEaAreaHint') }}
    </div>
    <select class="govuk-select" id="main-ea-area" name="mainEaArea">
      <option value="">{{ __('accountRequest.eaMainArea.selectAnAreaOption') }}</option>
      <option value="wessex">Wessex</option>
      <option value="thames">Thames</option>
      <option value="anglian">Anglian</option>
      <option value="midlands">Midlands</option>
      <option value="north-west">North West</option>
      <option value="yorkshire">Yorkshire</option>
      <option value="north-east">North East</option>
    </select>
  </div>

  <button class="govuk-button" data-module="govuk-button">{{ __('accountRequest.eaMainArea.continueButton') }}</button>
{% endblock %}
