{% extends 'layouts/page.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t('account-request.eaMainArea.heading') }} | {{ serviceName }}{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link">{{ t('account-request.back') }}</a>

  <h1 class="govuk-heading-l">{{ t('account-request.eaMainArea.heading') }}</h1>

  {% if errorSummary and (errorSummary | length) %}
    {% set errorList = [] %}
    {% for item in errorSummary %}
      {% set errorList = errorList.concat([{
        text: item.text,
        href: item.href
      }]) %}
    {% endfor %}
    {{ govukErrorSummary({
      titleText: t('account-request.details.errorSummaryTitle'),
      errorList: errorList
    }) }}
  {% endif %}

  <form method="post" novalidate>
    {% if returnTo %}
    <input type="hidden" name="returnTo" value="{{ returnTo }}">
    {% endif %}

    {% set selectOptions = [] %}
    {% set selectOptions = selectOptions.concat([{
      value: "",
      text: t('account-request.eaMainArea.selectAnAreaOption')
    }]) %}
    {% if eaAreas %}
      {% for area in eaAreas %}
        {% set selectOptions = selectOptions.concat([{
          value: area.id | string,
          text: area.name,
          selected: values.mainEaArea == area.id | string
        }]) %}
      {% endfor %}
    {% endif %}

    {% set mainEaAreaErrorMessage = false %}
    {% if errors.mainEaArea %}
      {% set mainEaAreaErrorMessage = {
        text: errors.mainEaArea
      } %}
    {% endif %}

    {{ govukSelect({
      id: "main-ea-area",
      name: "mainEaArea",
      label: {
        text: t('account-request.eaMainArea.mainEaAreaLabel'),
        classes: "govuk-label--m"
      },
      hint: {
        text: t('account-request.eaMainArea.mainEaAreaHint')
      },
      items: selectOptions,
      errorMessage: mainEaAreaErrorMessage
    }) }}

    {{ govukButton({
      text: t('account-request.eaMainArea.continueButton')
    }) }}
  </form>
{% endblock %}
