@use "govuk-frontend" as *;

.pafs-table-scroll {
  overflow-x: auto;
  margin-bottom: govuk-spacing(4);
}

.funding-values-table .section-header,
.funding_sources_and_spending_detail_table .detail-section-header {
  background-color: govuk-colour("black", $variant: "tint-95");
}

.funding_sources_and_spending_detail_table .detail-contributor-name {
  padding-left: govuk-spacing(6);
  font-weight: normal;
}

.app-funding-table__source-header {
  min-width: 250px;
}

.app-funding-table__indent-cell {
  padding-left: govuk-spacing(6);
  font-weight: normal;
}

.funding-values-table .govuk-input[data-spend-cell] {
  display: inline-block;
  width: auto;
  max-width: none;
  min-width: 6ch;
}
