.pafs-table-scroll {
  overflow-x: auto;
  margin-bottom: 20px;
}

.funding-values-table .section-header,
.funding_sources_and_spending_detail_table .detail-section-header {
  background-color: #f3f2f1;
}

.funding_sources_and_spending_detail_table .detail-contributor-name {
  padding-left: 30px;
  font-weight: normal;
}
