@use "../govuk-base" as govuk;

.app-notification-banner--full-width {
  .govuk-notification-banner__content>* {
    max-width: 100%;
  }
}

.overview-project-benefit-area-card {
  .project-benefit-area-card__content-body {
    display: flex;
    flex-direction: row;
    gap: govuk.govuk-spacing(3);

    .file-block {
      border: 2px solid govuk.govuk-colour("black", $variant: "tint-50");
    }
  }
}

.app-inline-form {
  display: inline;
}

.app-link-button {
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  vertical-align: baseline;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.1em;
  color: govuk.govuk-colour("blue");

  &:hover {
    background: none;
    box-shadow: none;
    color: govuk.govuk-colour("dark-blue");
    text-decoration: underline;
    text-decoration-thickness: 3px;
  }

  &:focus {
    outline: 3px solid transparent;
    background-color: govuk.govuk-colour("yellow");
    color: govuk.govuk-colour("black");
    box-shadow: 0 -2px govuk.govuk-colour("yellow"), 0 4px govuk.govuk-colour("black");
    text-decoration: none;
  }

  &:active {
    top: 0;
  }
}