{% extends 'layouts/page.njk' %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}{{ t('account-request.details.heading') }} | {{ serviceName }}{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link">{{ t('common.back_link') }}</a>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary and (errorSummary | length) %}
        {% set errorList = [] %}
            {% for item in errorSummary %}
          {% set errorList = errorList.concat([{
            text: item.text,
            href: item.href
          }]) %}
            {% endfor %}
        {{ govukErrorSummary({
          titleText: t('account-request.details.errorSummaryTitle'),
          errorList: errorList
        }) }}
      {% endif %}

      <form method="post" novalidate>
        {% if returnTo %}
        <input type="hidden" name="returnTo" value="{{ returnTo }}">
        {% endif %}
        <h1 class="govuk-heading-xl">{{ t('account-request.details.heading') }}</h1>

        <p class="govuk-body">
          {{ t('account-request.details.introParagraph') }}
        </p>

        {% set firstNameErrorMessage = false %}
        {% if errors.firstName %}
          {% set firstNameErrorMessage = {
            text: errors.firstName
          } %}
        {% endif %}

        {{ govukInput({
          label: {
            text: t('account-request.details.firstNameLabel')
          },
          id: "first-name",
          name: "firstName",
          type: "text",
          spellcheck: false,
          autocomplete: "given-name",
          value: values.firstName | default(''),
          classes: "govuk-!-width-two-thirds",
          errorMessage: firstNameErrorMessage
        }) }}

        {% set lastNameErrorMessage = false %}
        {% if errors.lastName %}
          {% set lastNameErrorMessage = {
            text: errors.lastName
          } %}
        {% endif %}

        {{ govukInput({
          label: {
            text: t('account-request.details.lastNameLabel')
          },
          id: "last-name",
          name: "lastName",
          type: "text",
          spellcheck: false,
          autocomplete: "family-name",
          value: values.lastName | default(''),
          classes: "govuk-!-width-two-thirds",
          errorMessage: lastNameErrorMessage
        }) }}

        {% set emailAddressErrorMessage = false %}
        {% if errors.emailAddress %}
          {% set emailAddressErrorMessage = {
            text: errors.emailAddress
          } %}
        {% endif %}

        {{ govukInput({
          label: {
            text: t('account-request.details.emailAddressLabel')
          },
          id: "email-address",
          name: "emailAddress",
          type: "email",
          spellcheck: false,
          autocomplete: "email",
          value: values.emailAddress | default(''),
          classes: "govuk-!-width-two-thirds",
          errorMessage: emailAddressErrorMessage
        }) }}

        {% set telephoneNumberErrorMessage = false %}
        {% if errors.telephoneNumber %}
          {% set telephoneNumberErrorMessage = {
            text: errors.telephoneNumber
          } %}
        {% endif %}

        {{ govukInput({
          label: {
            text: t('account-request.details.telephoneNumberLabel')
          },
          id: "telephone-number",
          name: "telephoneNumber",
          type: "tel",
          autocomplete: "tel",
          value: values.telephoneNumber | default(''),
          classes: "govuk-!-width-two-thirds",
          errorMessage: telephoneNumberErrorMessage
        }) }}

        {% set organisationErrorMessage = false %}
        {% if errors.organisation %}
          {% set organisationErrorMessage = {
            text: errors.organisation
          } %}
        {% endif %}

        {{ govukInput({
          label: {
            text: t('account-request.details.organisationLabel')
          },
          id: "organisation",
          name: "organisation",
          type: "text",
          value: values.organisation | default(''),
          classes: "govuk-!-width-two-thirds",
          errorMessage: organisationErrorMessage
        }) }}

        {% set jobTitleErrorMessage = false %}
        {% if errors.jobTitle %}
          {% set jobTitleErrorMessage = {
            text: errors.jobTitle
          } %}
        {% endif %}

        {{ govukInput({
          label: {
            text: t('account-request.details.jobTitleLabel')
          },
          id: "job-title",
          name: "jobTitle",
          type: "text",
          value: values.jobTitle | default(''),
          classes: "govuk-!-width-two-thirds",
          errorMessage: jobTitleErrorMessage
        }) }}

        {% set responsibilityErrorMessage = false %}
        {% if errors.responsibility %}
          {% set responsibilityErrorMessage = {
            text: errors.responsibility
          } %}
        {% endif %}

        {{ govukRadios({
          name: "responsibility",
          fieldset: {
            legend: {
              text: t('account-request.details.responsibilityQuestion'),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          errorMessage: responsibilityErrorMessage,
          items: [
            {
              value: "environment-agency-area-programme-team",
              text: t('account-request.details.eaAreaProgrammeTeam'),
              hint: {
                text: t('account-request.details.eaAreaProgrammeTeamHint')
              },
              checked: values.responsibility == 'environment-agency-area-programme-team'
            },
            {
              value: "environment-agency-partnership-strategic-overview-team",
              text: t('account-request.details.eaPartnershipStrategicOverviewTeam'),
              hint: {
                text: t('account-request.details.eaPartnershipStrategicOverviewTeamHint')
              },
              checked: values.responsibility == 'environment-agency-partnership-strategic-overview-team'
            },
            {
              value: "risk-management-authority",
              text: t('account-request.details.riskManagementAuthority'),
              hint: {
                text: t('account-request.details.riskManagementAuthorityHint')
              },
              checked: values.responsibility == 'risk-management-authority'
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">{{ t('account-request.details.privacyPolicyHeading') }}</h2>
        <p class="govuk-body">{{ t('account-request.details.privacyPolicyIntro') }}<a href="{{ t('account-request.details.privacyPolicyLink') }}" class="govuk-link">{{ t('account-request.details.privacyPolicyLink') }}</a></p>

        {{ govukDetails({
          summaryText: t('account-request.details.dataCollectedQuestion'),
          html: '<p class="govuk-body govuk-!-font-weight-bold">' + t('account-request.details.dataCollectedHeading') + '</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>' + t('account-request.details.dataCollectedBullet1') + '</li>
            <li>' + t('account-request.details.dataCollectedBullet2') + '</li>
            <li>' + t('account-request.details.dataCollectedBullet3') + '</li>
            <li>' + t('account-request.details.dataCollectedBullet4') + '</li>
          </ul>
          <p class="govuk-body">' + t('account-request.details.dataCollectedStatement') + '</p>'
        }) }}

        {{ govukDetails({
          summaryText: t('account-request.details.dataSharedQuestion'),
          text: t('account-request.details.dataSharedAnswer')
        }) }}

        {{ govukDetails({
          summaryText: t('account-request.details.dataTransferredQuestion'),
          text: t('account-request.details.dataTransferredAnswer')
        }) }}

        {{ govukDetails({
          summaryText: t('account-request.details.dataHeldQuestion'),
          text: t('account-request.details.dataHeldAnswer')
        }) }}

        {{ govukDetails({
          summaryText: t('account-request.details.automatedDecisionMakingQuestion'),
          text: t('account-request.details.automatedDecisionMakingAnswer')
        }) }}

        {{ govukButton({
          text: t('account-request.details.continueButton')
        }) }}
      </form>
      </div>
  </div>
{% endblock %}
