{% macro proposalDetailsSummaryCard(values, t) %}

<div class="govuk-summary-card">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title">{{ t('project-proposal.proposal_overview.proposal_details_summary_card.title') }}</h2>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ t('project-proposal.proposal_overview.proposal_details_summary_card.project_name') }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ values.projectName or t('project-proposal.proposal_overview.common.not_provided') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/project-proposal/project-name/{{ values.editModeReferenceNumber }}/edit">
            {{ t('common.change') }}<span class="govuk-visually-hidden"> {{ t('project-proposal.proposal_overview.proposal_details_summary_card.project_name') }}</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ t('project-proposal.proposal_overview.proposal_details_summary_card.rma') }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ values.rmaSelection or t('project-proposal.proposal_overview.common.not_provided') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/project-proposal/rma-selection/{{ values.editModeReferenceNumber }}/edit">
            {{ t('common.change') }}<span class="govuk-visually-hidden"> {{ t('project-proposal.proposal_overview.proposal_details_summary_card.rma') }}</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ t('project-proposal.proposal_overview.proposal_details_summary_card.project_type') }}
        </dt>
        <dd class="govuk-summary-list__value">
          {% set projectTypeLabel = '' %}
          {% if values.projectType == 'DEF' %}
            {% set projectTypeLabel = t('project-proposal.project_type.options.def') %}
          {% elif values.projectType == 'REF' %}
            {% set projectTypeLabel = t('project-proposal.project_type.options.ref') %}
          {% elif values.projectType == 'REP' %}
            {% set projectTypeLabel = t('project-proposal.project_type.options.rep') %}
          {% elif values.projectType == 'ELO' %}
            {% set projectTypeLabel = t('project-proposal.project_type.options.elo') %}
          {% elif values.projectType == 'HCR' %}
            {% set projectTypeLabel = t('project-proposal.project_type.options.hcr') %}
          {% elif values.projectType == 'STR' %}
            {% set projectTypeLabel = t('project-proposal.project_type.options.str') %}
          {% elif values.projectType == 'STU' %}
            {% set projectTypeLabel = t('project-proposal.project_type.options.stu') %}
          {% endif %}
          {{ projectTypeLabel or t('project-proposal.proposal_overview.common.not_provided') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/project-proposal/project-type/{{ values.editModeReferenceNumber }}/edit">
            {{ t('common.change') }}<span class="govuk-visually-hidden"> {{ t('project-proposal.proposal_overview.proposal_details_summary_card.project_type') }}</span>
          </a>
        </dd>
      </div>

      {% if values.projectType == 'DEF' or values.projectType == 'REF' or values.projectType == 'REP' %}
        {% if values.interventionTypes %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ t('project-proposal.proposal_overview.proposal_details_summary_card.intervention_types') }}
            </dt>
            <dd class="govuk-summary-list__value">
              <ul class="govuk-list govuk-list--bullet">
                {% for type in values.interventionTypes %}
                  <li>
                    {% if type == 'nfm' %}{{ t('project-proposal.intervention_type.options.nfm') }}
                    {% elif type == 'suds' %}{{ t('project-proposal.intervention_type.options.suds') }}
                    {% elif type == 'pfr' %}{{ t('project-proposal.intervention_type.options.pfr') }}
                    {% elif type == 'other' %}{{ t('project-proposal.intervention_type.options.other') }}
                    {% else %}{{ type }}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </dd>
          </div>

          {% set primaryInterventionType = values.primaryInterventionType %}
          {% if not primaryInterventionType and (values.primaryInterventionType | length) == 1 %}
            {% set primaryInterventionType = values.interventionTypes[0] %}
          {% endif %}

          {% if primaryInterventionType %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ t('project-proposal.proposal_overview.proposal_details_summary_card.primary_benefit_intervention') }}
              </dt>
              <dd class="govuk-summary-list__value">
                {% if primaryInterventionType == 'nfm' %}{{ t('project-proposal.intervention_type.options.nfm') }}
                {% elif primaryInterventionType == 'suds' %}{{ t('project-proposal.intervention_type.options.suds') }}
                {% elif primaryInterventionType == 'pfr' %}{{ t('project-proposal.intervention_type.options.pfr') }}
                {% elif primaryInterventionType == 'other' %}{{ t('project-proposal.intervention_type.options.other') }}
                {% else %}{{ primaryInterventionType }}
                {% endif %}
              </dd>
            </div>
          {% endif %}
        {% endif %}
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ t('project-proposal.proposal_overview.proposal_details_summary_card.financial_year_start') }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ values.financialStartYearLabel or t('project-proposal.proposal_overview.common.not_provided') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/proposal/create-proposal/financial-year">
            {{ t('common.change') }}<span class="govuk-visually-hidden"> {{ t('project-proposal.proposal_overview.proposal_details_summary_card.financial_year_start') }}</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ t('project-proposal.proposal_overview.proposal_details_summary_card.financial_year_end') }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ values.financialEndYearLabel or t('project-proposal.proposal_overview.common.not_provided') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/proposal/create-proposal/financial-year-spending?from=overview">
            {{ t('common.change') }}<span class="govuk-visually-hidden"> {{ t('project-proposal.proposal_overview.proposal_details_summary_card.financial_year_end') }}</span>
          </a>
        </dd>
      </div>
    </dl>
  </div>
</div>

{% endmacro %}
