{% extends 'layouts/page.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t('project-proposal.intervention_type.heading') }} | {{ serviceName }}
{% endblock %}

{% block content %}
  <a href="/project-proposal/project-type" class="govuk-back-link">{{ t('common.back_link') }}</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary and(errorSummary | length) %}
        {% set errorList = [] %}
        {% for item in errorSummary %}
          {% set errorList = errorList.concat([
            {
              text: item.text,
              href: item.href
            }
          ]) %}
        {% endfor %}
        {{ govukErrorSummary({
          titleText: t('common.error_summary_title'),
          errorList: errorList
        }) }}
      {% endif %}

      {% if projectType == 'REF' %}
          {% set items = [
            {
              value: 'nfm',
              text: t('project-proposal.intervention_type.options.nfm'),
              checked: values.interventionTypes and ('nfm' in values.interventionTypes)
            },
            {
              value: 'sds',
              text: t('project-proposal.intervention_type.options.sds'),
              checked: values.interventionTypes and ('sds' in values.interventionTypes)
            },
            {
              value: 'other',
              text: t('project-proposal.intervention_type.options.other'),
              checked: values.interventionTypes and ('other' in values.interventionTypes)
            }
          ] %}
        {% else %}
          {% set items = [
            {
              value: 'nfm',
              text: t('project-proposal.intervention_type.options.nfm'),
              checked: values.interventionTypes and ('nfm' in values.interventionTypes)
            },
            {
              value: 'pfr',
              text: t('project-proposal.intervention_type.options.pfr'),
              checked: values.interventionTypes and ('pfr' in values.interventionTypes)
            },
            {
              value: 'sds',
              text: t('project-proposal.intervention_type.options.sds'),
              checked: values.interventionTypes and ('sds' in values.interventionTypes)
            },
            {
              value: 'other',
              text: t('project-proposal.intervention_type.options.other'),
              checked: values.interventionTypes and ('other' in values.interventionTypes)
            }
          ] %}
        {% endif %}

      <form method="post" novalidate>
        {% set errorMessage = null %}
        {% if errors.interventionTypes %}
          {% set errorMessage = { text: errors.interventionTypes } %}
        {% endif %}
        {{ govukCheckboxes({
          idPrefix: 'intervention-type',
          name: 'interventionTypes',
          fieldset: {
            legend: {
              text: t('project-proposal.intervention_type.heading'),
              classes: 'govuk-fieldset__legend--l'
            }
          },
          errorMessage: errorMessage,
          items: items
        }) }}

        {{ govukButton({
          text: t('common.buttons.save_and_continue')
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
