{% extends "govuk/template.njk" %}

{# Import GOVUK components globally #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{# Import custom components globally #}
{% from "heading/macro.njk" import appHeading %}
{% from "cookie-banner/macro.njk" import appCookieBanner %}

{% set mainClasses = "app-main-wrapper" %}
{% set isAdminPath = request
  .path
  .startsWith('/admin') %}
{% set currentServiceName = t('common.service_name_admin')if isAdminPath else 
  t('common.service_name') %}

{% block head %}
  <link href="{{ getAssetPath('stylesheets/application.scss') }}" rel="stylesheet">
{% endblock %}

{% block bodyStart %}
  {# Cookie banner logic #}
  {% set cookiePolicy = request.state.cookies_policy %}
  {% set cookieBannerMessage = request.state.cookie_banner_message %}
  {% set showInitialBanner = not cookiePolicy %}
  {% set showAcceptedMessage = cookieBannerMessage == 'accepted' %}
  {% set showRejectedMessage = cookieBannerMessage == 'rejected' %}
  
  {{ appCookieBanner({
    showInitialBanner: showInitialBanner,
    showAcceptedMessage: showAcceptedMessage,
    showRejectedMessage: showRejectedMessage,
    t: t
  }) }}
{% endblock %}

{% block header %}
  {% set headerNav = [] %}

  {% if user %}
    {% set switchLink = '/admin/users' if not isAdminPath else 
      '/' %}
    {% set switchText = t('common.switch_to_admin')if not isAdminPath else 
      t('common.switch_to_user') %}

    {% set headerNav = [
      {
        text: t('common.signed_in_as') + " " + (
        user.firstName + " " + user.lastName if user.firstName else 
          user.email
        )
      }
    ] %}

    {% if user.admin %}
      {% set headerNav = headerNav.concat([
        {
          href: switchLink,
          text: switchText
        }
      ]) %}
    {% endif %}

    {% set headerNav = headerNav.concat([
      {
        href: "/logout",
        text: t('common.sign_out')
      }
    ]) %}
  {% endif %}

  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "app-header",
    containerClasses: "govuk-width-container",
    useTudorCrown: true,
    navigation: headerNav,
    navigationClasses: "govuk-header__navigation--end",
    navigationLabel: t('common.header_navigation_label'),
    navigationId: "profile-nav",
    menuButtonText: t('common.header_navigation_label'),
    menuButtonLabel: "Show or hide Profile menu"
  }) }}

  {{ govukServiceNavigation({
    serviceName: currentServiceName,
    serviceUrl: serviceUrl,
    navigation: navigation,
    menuButtonText: t('common.service_navigation_menu_button_text'),
    menuButtonLabel: "Show or hide service navigation menu",
    navigationId: "service-nav"
  }) }}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }} | {{ currentServiceName }}
{% endblock %}

{% block beforeContent %}
  {% if breadcrumbs.length > 1 %}
    {{ govukBreadcrumbs({
      items: breadcrumbs
    }) }}
  {% endif %}
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      html: '<p class="govuk-body-s">' + t('common.footer.contact_html') + '</p>',
      items: [
        {
          href: t('common.footer.links.privacy.url'),
          text: t('common.footer.links.privacy.text')
        },
        {
          href: t('common.footer.links.cookies.url'),
          text: t('common.footer.links.cookies.text')
        },
        {
          href: t('common.footer.links.accessibility.url'),
          text: t('common.footer.links.accessibility.text')
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ getAssetPath('application.js') }}"></script>
{% endblock %}