{% extends 'layouts/page.njk' %}

{% block pageTitle %}{{ t('account-request.mainRma.heading') }} | {{ serviceName }}{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link">{{ t('account-request.back') }}</a>

  <h1 class="govuk-heading-l">{{ t('account-request.mainRma.heading') }}</h1>

  {% if errorSummary and (errorSummary | length) %}
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      {{ t('account-request.details.errorSummaryTitle') }}
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        {% for item in errorSummary %}
          <li><a href="{{ item.href }}">{{ item.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <form method="post" novalidate>
    {% if returnTo %}
    <input type="hidden" name="returnTo" value="{{ returnTo }}">
    {% endif %}

    <div class="govuk-form-group {% if errors.mainRma %}govuk-form-group--error{% endif %}">
      <label class="govuk-label govuk-label--m" for="main-rma">
        {{ t('account-request.mainRma.mainRmaLabel') }}
      </label>
      <div id="main-rma-hint" class="govuk-hint">
        {{ t('account-request.mainRma.mainRmaHint') }}
      </div>
      {% if errors.mainRma %}
      <p id="main-rma-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ errors.mainRma }}
      </p>
      {% endif %}
      <select class="govuk-select {% if errors.mainRma %}govuk-select--error{% endif %}" id="main-rma" name="mainRma">
        <option value="">{{ t('account-request.mainRma.selectAnRmaOption') }}</option>
        {% if rmasByPsoTeam %}
          {% for group in rmasByPsoTeam %}
            <optgroup label="{{ group.eaArea.name }} - {{ group.psoTeam.name }}">
              {% for rma in group.rmas %}
                <option value="{{ rma.id }}" {% if values.mainRma == rma.id|string %}selected{% endif %}>{{ rma.name }}</option>
              {% endfor %}
            </optgroup>
          {% endfor %}
        {% endif %}
      </select>
    </div>

    <button class="govuk-button" data-module="govuk-button">{{ t('account-request.mainRma.continueButton') }}</button>
  </form>
{% endblock %}

