{% extends 'layouts/page.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ title }} | {{ serviceName }}
{% endblock %}

{% block content %}
  <a href="{{ backLink }}" class="govuk-back-link">{{ t('common.back_link') }}</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary and(errorSummary | length) %}
        {% set errorList = [] %}
        {% for item in errorSummary %}
          {% set errorList = errorList.concat([
            {
              text: item.text,
              href: item.href
            }
          ]) %}
        {% endfor %}
        {{ govukErrorSummary({
          titleText: t('common.error_summary_title'),
          errorList: errorList
        }) }}
      {% endif %}

      {% set items = [] %}
      {% for option in financialYearOptions %}
        {% set items = items.concat([
          {
            value: option.value,
            text: option.text,
            checked: values.lastFinancialYear == option.value
          }
        ]) %}
      {% endfor %}

      <form method="post" novalidate>
        {% set errorMessage = null %}
        {% if errors.lastFinancialYear %}
          {% set errorMessage = { text: errors.lastFinancialYear } %}
        {% endif %}

        {{ govukRadios({
          idPrefix: 'last-financial-year',
          name: 'lastFinancialYear',
          fieldset: {
            legend: {
              text: title,
              classes: 'govuk-fieldset__legend--l'
            }
          },
          hint: {
            text: hint
          },
          errorMessage: errorMessage,
          items: items
        }) }}

        <p class="govuk-body">
          <a class="govuk-link" href="{{ afterMarchLinkHref }}">{{ afterMarchLinkText }}</a>
        </p>

        {{ govukButton({
          text: t('common.buttons.save_and_continue')
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
