{% extends "layouts/page.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/admin/journey-selection" method="post">

        {{ govukRadios({
          name: "journey",
          fieldset: {
            legend: {
              text: t('common.pages.admin.journey_selection.title'),
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: t('common.pages.admin.journey_selection.context')
          },
          items: [
            {
              value: "admin",
              text: t('common.pages.admin.journey_selection.options.admin_user.text'),
              hint: {
                text: t('common.pages.admin.journey_selection.options.admin_user.hint')
              },
              checked: true
            },
            {
              value: "general",
              text: t('common.pages.admin.journey_selection.options.general_user.text'),
              hint: {
                text: t('common.pages.admin.journey_selection.options.general_user.hint')
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}