{% extends 'layouts/projects.njk' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block body %}

  {% if errors and errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: t('common.error_summary_title'),
      errorList: errors
    }) }}
  {% endif %}

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}">

    <h1 class="govuk-heading-l">{{ t('projects.nfm.leaky_barriers.title') }}</h1>

    {{ govukInput({
      id: PROJECT_PAYLOAD_FIELDS.NFM_LEAKY_BARRIERS_VOLUME,
      name: PROJECT_PAYLOAD_FIELDS.NFM_LEAKY_BARRIERS_VOLUME,
      label: {
        text: t('projects.nfm.leaky_barriers.volume.label')
      },
      hint: {
        text: t('projects.nfm.leaky_barriers.volume.hint')
      },
      suffix: {
        text: "m³"
      },
      classes: "govuk-input--width-10",
      value: formData[PROJECT_PAYLOAD_FIELDS.NFM_LEAKY_BARRIERS_VOLUME],
      errorMessage: fieldErrors[PROJECT_PAYLOAD_FIELDS.NFM_LEAKY_BARRIERS_VOLUME] and {
        text: fieldErrors[PROJECT_PAYLOAD_FIELDS.NFM_LEAKY_BARRIERS_VOLUME]
      }
    }) }}

    {{ govukInput({
      id: PROJECT_PAYLOAD_FIELDS.NFM_LEAKY_BARRIERS_LENGTH,
      name: PROJECT_PAYLOAD_FIELDS.NFM_LEAKY_BARRIERS_LENGTH,
      label: {
        text: t('projects.nfm.leaky_barriers.length.label')
      },
      suffix: {
        text: "km"
      },
      classes: "govuk-input--width-10",
      value: formData[PROJECT_PAYLOAD_FIELDS.NFM_LEAKY_BARRIERS_LENGTH],
      errorMessage: fieldErrors[PROJECT_PAYLOAD_FIELDS.NFM_LEAKY_BARRIERS_LENGTH] and {
        text: fieldErrors[PROJECT_PAYLOAD_FIELDS.NFM_LEAKY_BARRIERS_LENGTH]
      }
    }) }}

    {{ govukInput({
      id: PROJECT_PAYLOAD_FIELDS.NFM_LEAKY_BARRIERS_WIDTH,
      name: PROJECT_PAYLOAD_FIELDS.NFM_LEAKY_BARRIERS_WIDTH,
      label: {
        text: t('projects.nfm.leaky_barriers.width.label')
      },
      suffix: {
        text: "m"
      },
      classes: "govuk-input--width-10",
      value: formData[PROJECT_PAYLOAD_FIELDS.NFM_LEAKY_BARRIERS_WIDTH],
      errorMessage: fieldErrors[PROJECT_PAYLOAD_FIELDS.NFM_LEAKY_BARRIERS_WIDTH] and {
        text: fieldErrors[PROJECT_PAYLOAD_FIELDS.NFM_LEAKY_BARRIERS_WIDTH]
      }
    }) }}

    {{ govukButton({
      text: t('common.buttons.save_and_continue')
    }) }}
  </form>

{% endblock %}
