{% extends "layouts/projects.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}{{ t('projects.nfm.sand_dune.title') }}{% endblock %}

{% block body %}
  {% if errors and errors.length > 0 %}
    {{ govukErrorSummary({
      titleText: t('common.errors.error_summary_title'),
      errorList: errors
    }) }}
  {% endif %}

  <form method="post" novalidate>
    <input type="hidden" name="crumb" value="{{ crumb }}">
    
    <div class="govuk-form-group {% if fieldErrors[PROJECT_PAYLOAD_FIELDS.NFM_SAND_DUNE_AREA] or fieldErrors[PROJECT_PAYLOAD_FIELDS.NFM_SAND_DUNE_LENGTH] %}govuk-form-group--error{% endif %}">
      <h1 class="govuk-heading-l">{{ t('projects.nfm.sand_dune.title') }}</h1>
      
      {{ govukInput({
        label: {
          text: t('projects.nfm.sand_dune.area.label'),
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: PROJECT_PAYLOAD_FIELDS.NFM_SAND_DUNE_AREA,
        name: PROJECT_PAYLOAD_FIELDS.NFM_SAND_DUNE_AREA,
        value: formData[PROJECT_PAYLOAD_FIELDS.NFM_SAND_DUNE_AREA],
        suffix: {
          text: "hectares"
        },
        classes: "govuk-input--width-10",
        errorMessage: fieldErrors[PROJECT_PAYLOAD_FIELDS.NFM_SAND_DUNE_AREA] and {
          text: fieldErrors[PROJECT_PAYLOAD_FIELDS.NFM_SAND_DUNE_AREA]
        }
      }) }}

      {{ govukInput({
        label: {
          text: t('projects.nfm.sand_dune.length.label'),
          classes: "govuk-label--m",
          isPageHeading: false
        },
        hint: {
          text: t('projects.nfm.sand_dune.length.hint')
        },
        id: PROJECT_PAYLOAD_FIELDS.NFM_SAND_DUNE_LENGTH,
        name: PROJECT_PAYLOAD_FIELDS.NFM_SAND_DUNE_LENGTH,
        value: formData[PROJECT_PAYLOAD_FIELDS.NFM_SAND_DUNE_LENGTH],
        suffix: {
          text: "km"
        },
        classes: "govuk-input--width-10",
        errorMessage: fieldErrors[PROJECT_PAYLOAD_FIELDS.NFM_SAND_DUNE_LENGTH] and {
          text: fieldErrors[PROJECT_PAYLOAD_FIELDS.NFM_SAND_DUNE_LENGTH]
        }
      }) }}
    </div>

    <div class="govuk-button-group">
      {{ govukButton({
        text: t('common.buttons.save_and_continue')
      }) }}
    </div>

  </form>
{% endblock %}
