{% extends 'layouts/page.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t('project-proposal.rma_selection.heading') }} | {{ serviceName }}
{% endblock %}

{% block content %}
  <a href="/project-proposal/project-name" class="govuk-back-link">{{ t('common.back_link') }}</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary and(errorSummary | length) %}
        {% set errorList = [] %}
        {% for item in errorSummary %}
          {% set errorList = errorList.concat([
            {
              text: item.text,
              href: item.href
            }
          ]) %}
        {% endfor %}
        {{ govukErrorSummary({
          titleText: t('common.error_summary_title'),
          errorList: errorList
        }) }}
      {% endif %}

      <form method="post" novalidate>
        <div class="govuk-form-group{% if errors.rmaSelection %} govuk-form-group--error{% endif %}">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="rma-selection">
              {{ t('project-proposal.rma_selection.heading') }}
            </label>
          </h1>

          {% if errors.rmaSelection %}
            <p id="rma-selection-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              {{ errors.rmaSelection }}
            </p>
          {% endif %}

          <select class="govuk-select govuk-!-width-full {% if errors.rmaSelection %}govuk-select--error{% endif %}"
            id="rma-selection"
            name="rmaSelection"
            aria-describedby="rma-selection-hint {% if errors.rmaSelection %}rma-selection-error{% endif %}">
            <option value='' {% if not values.rmaSelection %} selected {% endif %}>{{ t('project-proposal.rma_selection.select_rma_option_text') }}</option>
            {% for data in viewData %}
              <option value="{{data.id}}"  {% if values.rmaSelection == data.id %} selected {% endif %}>{{data.name}}</option>
            {% endfor %}
          </select>
        </div>

        {{ govukButton({
          text: t('common.buttons.continue')
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
