{% extends 'layouts/page.njk' %}

{% block pageTitle %}{{ __('accountRequest.confirmation.panelTitle') }} | {{ serviceName }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      {{ __('accountRequest.confirmation.panelTitle') }}
    </h1>
    <div class="govuk-panel__body">
      {{ __('accountRequest.confirmation.panelBody') }}
    </div>
  </div>

  <h2 class="govuk-heading-m">{{ __('accountRequest.confirmation.whatHappensNextHeading') }}</h2>

  <p class="govuk-body">
    {{ __('accountRequest.confirmation.whatHappensNextPara1') }}
  </p>
  <p class="govuk-body">
    {{ __('accountRequest.confirmation.whatHappensNextPara2') }}
  </p>

  <div class="govuk-inset-text">
    {{ __('accountRequest.confirmation.insetBoxText') }}
  </div>

  <h2 class="govuk-heading-m">{{ __('accountRequest.confirmation.whatYouNeedToDoHeading') }}</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>{{ __('accountRequest.confirmation.bullet1') }}</li>
    <li>{{ __('accountRequest.confirmation.bullet2') }}</li>
    <li>{{ __('accountRequest.confirmation.bullet3') }}</li>
    <li>{{ __('accountRequest.confirmation.bullet4') }}</li>
  </ul>

  <p class="govuk-body">
    <a href="#" class="govuk-link">{{ __('accountRequest.confirmation.returnToSignInLink') }}</a>
  </p>
  </div>
  </div>
{% endblock %}
