{% extends 'layouts/page.njk' %}

{% block pageTitle %}{{ t('account-request.eaAdditionalAreas.heading') }} | {{ serviceName }}{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link">{{ t('account-request.back') }}</a>

  <h1 class="govuk-heading-l">{{ t('account-request.eaAdditionalAreas.heading') }}</h1>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-body">
          {{ t('account-request.eaAdditionalAreas.introText') }}
        </h1>
      </legend>
      <form method="post" novalidate>
        {% if returnTo %}
        <input type="hidden" name="returnTo" value="{{ returnTo }}">
        {% endif %}

        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          {% if additionalEaAreas and additionalEaAreas.length > 0 %}
            {% for area in additionalEaAreas %}
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  id="additional-ea-areas-{{ area.id }}"
                  name="additionalEaAreas"
                  type="checkbox"
                  value="{{ area.id }}"
                  {% if area.id|string in (values.additionalEaAreas or []) %}checked{% endif %}
                >
                <label class="govuk-label govuk-checkboxes__label" for="additional-ea-areas-{{ area.id }}">
                  {{ area.name }}
                </label>
              </div>
            {% endfor %}
          {% else %}
            <p class="govuk-body">{{ t('account-request.eaAdditionalAreas.noAdditionalAreas') }}</p>
          {% endif %}
        </div>

        <button class="govuk-button" data-module="govuk-button">
          {{ t('account-request.eaAdditionalAreas.continueButton') }}
        </button>
      </form>
    </fieldset>
  </div>
{% endblock %}
