{% extends 'layouts/page.njk' %}

{% block pageTitle %}{{ title }} | {{ serviceName }}{% endblock %}

{% block content %}
  <a href="#" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-l">{{ title }}</h1>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-body">
          Select any additional EA areas you should have access to (optional).
        </h1>
      </legend>
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="additional-ea-areas-1" name="additionalEaAreas" type="checkbox" value="wessex">
          <label class="govuk-label govuk-checkboxes__label" for="additional-ea-areas-1">
            Wessex
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="additional-ea-areas-2" name="additionalEaAreas" type="checkbox" value="thames">
          <label class="govuk-label govuk-checkboxes__label" for="additional-ea-areas-2">
            Thames
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="additional-ea-areas-3" name="additionalEaAreas" type="checkbox" value="anglian" checked>
          <label class="govuk-label govuk-checkboxes__label" for="additional-ea-areas-3">
            Anglian
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="additional-ea-areas-4" name="additionalEaAreas" type="checkbox" value="midlands">
          <label class="govuk-label govuk-checkboxes__label" for="additional-ea-areas-4">
            Midlands
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="additional-ea-areas-5" name="additionalEaAreas" type="checkbox" value="north-west" checked>
          <label class="govuk-label govuk-checkboxes__label" for="additional-ea-areas-5">
            North West
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="additional-ea-areas-6" name="additionalEaAreas" type="checkbox" value="yorkshire">
          <label class="govuk-label govuk-checkboxes__label" for="additional-ea-areas-6">
            Yorkshire
          </label>
        </div>
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="additional-ea-areas-7" name="additionalEaAreas" type="checkbox" value="north-east">
          <label class="govuk-label govuk-checkboxes__label" for="additional-ea-areas-7">
            North East
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <button class="govuk-button" data-module="govuk-button">Continue</button>
{% endblock %}
