{% extends 'layouts/page.njk' %}

{% set a11yNs = 'accessibility.pages.accessibility' %}

{% block content %}
  {{ appHeading({
    text: heading,
    widthClass: 'govuk-grid-column-full'
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="govuk-body" data-testid="app-page-body">

        <h2 class="govuk-heading-l">{{ t(a11yNs ~ '.using_this_website') }}</h2>
        <p class="govuk-body">{{ t(a11yNs ~ '.using_intro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t(a11yNs ~ '.using_bullet_change_contrast') }}</li>
          <li>{{ t(a11yNs ~ '.using_bullet_zoom') }}</li>
          <li>{{ t(a11yNs ~ '.using_bullet_keyboard') }}</li>
          <li>{{ t(a11yNs ~ '.using_bullet_navigation') }}</li>
          <li>{{ t(a11yNs ~ '.using_bullet_screenreader') }}</li>
        </ul>
        <p class="govuk-body">{{ t(a11yNs ~ '.using_we_make_changes') }}</p>
        <p class="govuk-body">
          <a class="govuk-link" href="{{ t(a11yNs ~ '.using_ability_link') }}" rel="noopener" target="_blank">{{ t(a11yNs ~ '.using_ability_text') }}</a>
          {{ t(a11yNs ~ '.using_ability_text_suffix') }}
        </p>

        <h2 class="govuk-heading-l">{{ t(a11yNs ~ '.how_accessible_heading') }}</h2>
        <p class="govuk-body">{{ t(a11yNs ~ '.how_accessible_intro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t(a11yNs ~ '.how_accessible_bullet1') }}</li>
          <li>{{ t(a11yNs ~ '.how_accessible_bullet2') }}</li>
          <li>{{ t(a11yNs ~ '.how_accessible_bullet3') }}</li>
          <li>{{ t(a11yNs ~ '.how_accessible_bullet4') }}</li>
        </ul>

        <h2 class="govuk-heading-l">{{ t(a11yNs ~ '.disproportionate_burden_heading') }}</h2>
        <p class="govuk-body">{{ t(a11yNs ~ '.disproportionate_burden_intro') }}</p>

        <h2 class="govuk-heading-l">{{ t(a11yNs ~ '.cannot_access_heading') }}</h2>
        <p class="govuk-body">{{ t(a11yNs ~ '.cannot_access_intro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t(a11yNs ~ '.contact_email_text') }} <a class="govuk-link" href="mailto:{{ t(a11yNs ~ '.contact_email') }}">{{ t(a11yNs ~ '.contact_email') }}</a></li>
          <li>{{ t(a11yNs ~ '.constact_phone_text') }}<a class="govuk-link" href="tel:{{ t(a11yNs ~ '.contact_phone') }}">{{ t(a11yNs ~ '.contact_phone_human') }}</a>{{ t(a11yNs ~ '.contact_hours') }}</li>
        </ul>

        <h2 class="govuk-heading-l">{{ t(a11yNs ~ '.reporting_problems_heading') }}</h2>
        <p class="govuk-body">{{ t(a11yNs ~ '.reporting_intro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>{{ t(a11yNs ~ '.contact_email_text') }} <a class="govuk-link" href="mailto:{{ t(a11yNs ~ '.contact_email') }}">{{ t(a11yNs ~ '.contact_email') }}</a></li>
          <li>{{ t(a11yNs ~ '.constact_phone_text') }}<a class="govuk-link" href="tel:{{ t(a11yNs ~ '.contact_phone') }}">{{ t(a11yNs ~ '.contact_phone_human') }}</a>{{ t(a11yNs ~ '.contact_hours') }}</li>
       </ul>

        <h2 class="govuk-heading-l">{{ t(a11yNs ~ '.enforcement_procedure_heading') }}</h2>
        <p class="govuk-body">{{ t(a11yNs ~ '.enforcement_intro') }}  <a class="govuk-link" href="{{ t(a11yNs ~ '.eass_link') }}" target="_blank" rel="noopener">{{ t(a11yNs ~ '.eass_text') }}</a></p>

        <h2 class="govuk-heading-l">{{ t(a11yNs ~ '.contacting_us_heading') }}</h2>
        <p class="govuk-body">{{ t(a11yNs ~ '.contacting_intro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>phone on  <a class="govuk-link" href="tel:{{ t(a11yNs ~ '.contact_phone') }}">{{ t(a11yNs ~ '.contact_phone_human') }}</a> {{ t(a11yNs ~ '.contact_hours') }}</li>
          <li>email at <a class="govuk-link" href="mailto:{{ t(a11yNs ~ '.contact_email') }}">{{ t(a11yNs ~ '.contact_email') }}</a></li>
          <li>Twitter @ <a class="govuk-link" href="{{ t(a11yNs ~ '.twitter_url') }}" target="_blank" rel="noopener">{{ t(a11yNs ~ '.twitter_text') }}</a></li>
          <li>Facebook @ <a class="govuk-link" href="{{ t(a11yNs ~ '.facebook_url') }}" target="_blank" rel="noopener">{{ t(a11yNs ~ '.facebook_text') }}</a></li>
        </ul>
        <p class="govuk-body"><a class="govuk-link" href="{{ t(a11yNs ~ '.visit_offices_url') }}" target="_blank" rel="noopener">{{ t(a11yNs ~ '.visit_offices_text') }}</a>.</p>

        <h2 class="govuk-heading-l">{{ t(a11yNs ~ '.technical_info_heading') }}</h2>
        <p class="govuk-body">{{ t(a11yNs ~ '.technical_info_intro') }}</p>

        <h2 class="govuk-heading-l">{{ t(a11yNs ~ '.compliance_status_heading') }}</h2>
        <p class="govuk-body">{{ t(a11yNs ~ '.compliance_status_intro') }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ t(a11yNs ~ '.compliance_bullet1') }}</li>
          <li>{{ t(a11yNs ~ '.compliance_bullet2') }}</li>
          <li>{{ t(a11yNs ~ '.compliance_bullet3') }}</li>
        </ul>

        <h2 class="govuk-heading-l">{{ t(a11yNs ~ '.how_we_tested_heading') }}</h2>
        <p class="govuk-body">{{ t(a11yNs ~ '.how_we_tested_intro') }}</p>
        <p class="govuk-body">{{ t(a11yNs ~ '.tested_by') }}</p>
        <p class="govuk-body">{{ t(a11yNs ~ '.prepared_on_text') }} {{ t(a11yNs ~ '.prepared_on_date') }}</p>

      </div>
    </div>
  </div>
{% endblock %}
