{% extends 'layouts/page.njk' %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
      titleText: t('projects.confirm_archive.heading')
    }) }}

      <h2 class="govuk-heading-m">{{ t('projects.confirm_archive.what_happens_next') }}</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('projects.confirm_archive.moved_to_archive') | safe }}</li>
        <li>{{ t('projects.confirm_archive.cannot_edit') }}</li>
      </ul>

      <h2 class="govuk-heading-m">{{ t('projects.confirm_archive.need_to_change') }}</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t('projects.confirm_archive.use_archive_link') }}</li>
        <li>{{ t('projects.confirm_archive.revert_instructions') }}</li>
        <li>{{ t('projects.confirm_archive.will_reappear') | safe }}</li>
      </ul>

      <div class="govuk-!-margin-top-6">
        <a href="/" class="govuk-link">{{ t('common.back_to_proposals') }}</a>
      </div>

    </div>
  </div>

{% endblock %}