{% extends 'layouts/page.njk' %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ t('account-request.index.heading') }} | {{ serviceName }}{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">{{ t('account-request.index.heading') }}</h1>

  <p class="govuk-body">
    {{ t('account-request.index.introParagraph') }}
  </p>

  <h2 class="govuk-heading-m">{{ t('account-request.index.beforeYouStartHeading') }}</h2>

  <p class="govuk-body">{{ t('account-request.index.beforeYouStartIntro') }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ t('account-request.index.bullet1') }}</li>
    <li>{{ t('account-request.index.bullet2') }}</li>
    <li>{{ t('account-request.index.bullet3') }}</li>
  </ul>

  <p class="govuk-body">
    {{ t('account-request.index.reviewStatement') }}
  </p>

  {{ govukButton({
    text: t('account-request.index.startButton'),
    href: "/account_request/details",
    isStartButton: true
  }) }}
{% endblock %}
